<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <paymentonsite>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Burst\Paymentonsite\Model\Payment\Paymentonsite</model>
                <active>1</active>
                <group>offline</group>
                <title>Pago en bodega</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </paymentonsite>
        </payment>
    </default>
</config>